* {
    box-sizing: border-box;
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background-color: antiquewhite;
    display: grid;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

h1 {
    text-align: center;
}

.gameboard {
    align-items: center;
    background-color: aqua;
    box-shadow: 5px 5px 10px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 25rem;
    justify-items: center;
    width: 25rem;
}

.small {
    transition: all 1s ease-in-out;
    transform: scale(0.0);
    cursor: pointer;
    z-index: 10;
}

.grow {
    transition: all 1s ease-in-out;
    transform: scale(1.0);
    cursor: pointer;
    z-index: 10;
}

.square {
    align-items: center;
    border: 1px solid black;
    display: grid;
    height: 100%;
    justify-items: center;
    width: 100%;
}

.square:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.square img {
    height: 80%;
    width: 80%;
}

div#start-container {
    display: grid;
    text-align: center;
}

button#start-btn,
.start-game-btn,
.end-game-btn {
    align-items: center;
    background-color: #F9A03F;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height: 4rem;
    justify-self: center;
    justify-content: center;
    width: 4rem;
}

button#start-btn {
    position: fixed;
    top: 30%;
    height: 20%;
    width: 20%;
    font-size: x-large;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20%;
    display: none;
    justify-self: center;
    height: 100%;
    position: fixed;
    width: 50vw;
    height: 50vh;
    z-index: 10;
}

.modal-content {
    background-color: #F7D488;
    border: 1px solid #888;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.close-modal-btn {
    color: #aaa;
    font-size: 28px;
    position: relative;
    font-weight: bold;
    top: 5%;
    left: 10%;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.start-game-btn,
.end-game-btn {
    height: 5rem;
    margin: auto;
    width: 5rem;
}

.modal-none {
    display: none;
}

.modal-flex {
    display: flex;
}

.input-container {
    display: grid;
    position: relative;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .input-container input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .input-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .input-container input:checked ~ .checkmark {
    background-color: #F9A03F;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .input-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .input-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  input#user-name {
    width: 100%;
}

div#startModal {
    max-width: 400px;
}

.radio-container {
    display: flex;
    justify-content: space-evenly;
}

label.input-container.name-label {
    justify-self: center;
    padding-top: 1rem;
    width: 80%;
}

.radio-container .input-container {
    padding-left: 2rem;
}
